@import "~vue-material/dist/theme/engine";

@include md-register-theme("default", (  
  primary: #aebd38,
  accent: #598234,
  theme: dark
));

@import "~vue-material/dist/theme/all";

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #392544;
  margin-bottom:3rem;
}

#header {
  background-color: #aebd38;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top:3rem;
  padding-bottom:.3rem;
}
