@import "~vue-material/dist/theme/engine";

@include md-register-theme("default", (
  
  primary: #c2c505, // The primary color of your brand
  accent: #9211e8, // The secondary color of your brand
  theme: dark // This can be dark or light
));

@import "~vue-material/dist/theme/all";

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #253544;
}

#brand {
  background-color: #c2c505;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top:2rem;
  padding-bottom:1rem;
}